@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --bg: #1d2225;
    --header-bg: #121417;
    --foreground: #161a1c;
    --primary-text: #b8cedc;
    --secondary-text: #7d95a4;
    --muted-text: #49545b;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--primary-text);
    cursor: default;
}

/* Text styling */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 4em;
    font-weight: 900;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.7em;
    color: var(--secondary-text);
}

::placeholder {
    color: var(--muted-text);
}

label {
    font-size: 1.2em;
    color: var(--secondary-text);
}

input {
    border: none;
    outline: none;
    background-color: var(--bg);
    color: var(--primary-text);
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.7em;
    height: 2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    border: none;
    outline: none;
    background-color: var(--bg);
    color: var(--primary-text);
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.7em;
}

button {
    background: var(--bg);
    color: var(--primary-text);
    width: fit-content;
    padding: 0.5em 1.5em;
    border: solid 1px #ffffff;
    border-radius: 12px;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.1);
    background: var(--primary-text);
    color: var(--bg);
    box-shadow: 0 0 20px #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10em 10em 3em 10em;
    align-items: center;
}

.logo,
.login {
    font-weight: 900;
    cursor: pointer;
}

.login {
    padding: 0.5em;
    border-radius: 5px;
}

.login:hover {
    background-color: #46423f66;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-inline: 20px;
    box-shadow: 0 20px 30px var(--header-bg);
    background-color: var(--header-bg);
}

.nav {
    padding: 2em 1em;
    width: 100%;
    transition: box-shadow 0.3s ease;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 5em;
}

.nav ul li {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 20em;
}